# Entorno Virtual
.venv/

# Caché de Python
__pycache__/

# Archivos del sistema
.DS_Store

# Configuración de VS Code
.vscode/

# Checkpoints de Jupyter
.ipynb_checkpoints/

# Datos (¡Importante si son grandes!)
*.csv
*.zip
rf_model.joblib
